
.btn-2 {
    background-color: #000000;
    gap: 30px;
    color: white;
    border: #8abdf1 ;
    border-radius: 6px;
    
}
 .btn-3  {
   border-radius: 6px !important;
   border: 1px solid #9f9999 !important; 
 }